.home_header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.home_header_navbar {
  display: flex;
  gap: 16px;
}

a {
  list-style: none;
  color: black;
}

.home_header_navbar_item:hover, a:hover {
  scale: 1.2;
  color: white;
  transition: all 0.4s ease-in-out;
}